/* Common Style Start */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;1,200;1,600&display=swap');

:root{
        --themeRed:#e43a47;
        --gray: #efefef; 
}

html{
        scroll-behavior: smooth;
}

button,body{
        font-family: 'Poppins', sans-serif;
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

p{
        font-size: 14px;
        line-height: 26px;
}

.fullContainer{
        width: 100%;
}

.container{
        width:1140px;
        margin: auto;     
}

.sectionTitle{
        width: 300px;
        border-bottom: 3px solid var(--themeRed);
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        margin: 0px auto 50px;
        position: relative;
        padding: 8px;
        text-transform: uppercase;
}

.sectionTitle::after{           /*its for the triangle in between the underline of about us  */
        display: inline-block;
        content: "";
        height: 15px;
        width: 15px;
        background-color: var(--themeRed);
        position: absolute;
        left: calc((50% - 10px));
        top: calc(75% - 7px);
        transform: rotate(45deg) translate(52%,52%);
        border: 3px solid #fff;
}

section{
        padding: 100px 0;
        position: relative;
}

/* Common Style End */

/* Home Style Start */
header{
        width: 100%;
        background-color: rgb(25, 25, 30);
        position: fixed;
        z-index: 2;
}

header .container{
        display: flex;
        margin: 0px 0px 0px 20px; 
        justify-content: space-between;
}

header .container .logo{
        margin: 0;
        padding: 0;
        height: 60px;    
}

header .container .logo img{
        height: 100%;
}

header nav{
        flex-shrink: 0;
}

header nav ul{
        list-style-type: none;
        padding-left: 200px;
}

header nav ul li{
        display: inline-block;
}

header nav ul li a{
        display: inline-block;
        height: 60px;
        line-height: 10px;
        padding: 25px 15px 0px 5px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
        color: #fff;
        transition: 0.3s;
}
header nav ul li a:hover{
        background-color: var(--themeRed);
}



/* Home Style End */

table{
        line-height: 50px;
        
        padding: 20px;
        text-align: center;
}

tr, th, td{
        border: 1px solid black;
}

#surveyTable{
        height: 1000px;
}

/**/
/* Footer starts here */

footer{
        background-color: #181818;
        color: #7f7f7f;
        padding: 50px 0;
        font-size: 14px;
}

footer .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
}

footer .title{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 2px solid;
        margin-bottom: 30px;
        padding: 0 0 5px 0;
}

footer p{
        margin-bottom: 10px;
}

footer .linksContainer ul{
        list-style-type: none;
}

footer .linksContainer ul li a{
        text-decoration: none;
        color: #7f7f7f;
        margin-bottom: 10px;
        display: inline-block;
}

footer .newsLetterContainer img{
        margin-top: 0;
        margin-left: 0;
        height: 80px;
        padding: 0;
        margin-bottom: 11px;
}

footer .newsLetterContainer input{
        background-color: transparent;
        border: 1px solid #7f7f7f;
        outline: none;
        padding: 10px 15px;
        width: 100%;
        margin-top: 10px;
        color: #ccc;
        border-radius: 30px;
}


/* Footer ends here */


/*Responsive Layout */

@media screen and (max-width:1140px){
        .container{
                width: 100%;
                padding: 0 15px;
        }
        .education .videoPlayer{
                width: 1280px;
        }
}

@media screen and (max-width: 1080px){
        .banner h1{
                margin-top: 200px;
        }
        #aboutSection .cards{
                justify-content: space-around;
                height: auto;
        }
        #aboutSection .cards > div{
                margin: 10px 0;
        }       
}

@media screen and (max-width: 1024px){
        .banner{
                background-position-x: 45%;
        }
        .banner h1{
                font-size: 2.5rem;
        }
        .programs .boxContainer{
                grid-template-columns: repeat(2, 1fr);
        }
}

@media screen and (max-width: 768px){
        header nav{             /*In this view the navbar will shift to left and will be toggled to ocme out when pressed*/
                position: relative;
                border: 2px solid #fff;
                height: 30px;
                width: 30px;
                margin-top: 20px;
                border-radius: 5px;
        }
        header nav:after{
                top: 17px;

        }
        header nav:before{
                top: 7px;

        }
        header nav:after, header nav:before{
                content: "";
                height: 2px;
                width: 17px;
                background-color: #fff;
                display: block;
                position: absolute;
                left: 5px;
        }
        header nav ul{
                position: absolute;
                right: -400px;
                top: 53px;
                transition: 0.5s;
        }
        header nav:hover ul{
                right: 0;
        }

        header nav ul li{
                display: block;
        }

        header nav ul li a{
                width: 300px;
                background-color: rgba(0,0,0,0.6);
        }
        .banner{
                background-position-x: 65%;
        }
        .banner p{
                font-size: 14px;
        }
        .banner p, .banner h1{
                width: 70%;
        }
        #aboutSection .cards >div:hover{
                width: 350px;
        } 
        .education .educationContainer{
                width: 96%;
        }      
        .education .educationContainer h3{
                font-size: 30px;
                line-height: 35px;
        }
        .education .educationContainer p{
                margin: 10px 0 20px;
        }
        .gallery .galleryContainer{
                column-count: 2;
        }
}

@media screen and (max-width: 425px){
        .banner h1{
                margin-top: 150px;
                font-size: 2rem;
                line-height: 3rem;
        }
        .banner button{
                margin-bottom: 10px;
        }
        #aboutSection p{
                text-align: justify;
        }
        #aboutSection .cards >div:hover{
                width: 400px;
                margin-top: 10px;
                padding: 35px;
        }
        .programs .boxContainer{
                grid-template-columns: 1fr;
        }
        .education .videoPlayer{
                width: 1400px;
        }
        .education .educationContainer{
                width: 93%;
        }
        .gallery .galleryContainer{
                column-count: 1;
        }
        footer.container{
                grid-template-columns: 1fr;
        }      
}

@media screen and (max-width: 320px){
        .education .educationContainer h3{
                font-size: 18px;
                line-height: 24px;
        }
        .banner h1{
                margin-top: 100px;
        }
}